 /* Styling for the loadout button */
    #loadout-button {
      position: fixed;
      top: 10px;
      right: 10px;
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
    }


    #overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
      /* Ensure overlay is above everything */
    }

    /* Styling for the loadout container */
    #loadout-container {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      width: 700px;
      height: 380px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      z-index: 2;
    }

    /* Styling for the close button */
    #close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      height: 20px;
      color: whitesmoke;
      font-size: 15px;
      cursor: pointer;
      background-color: darkred;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
    }

    /* Styling for container2 */
    #container2 {
      display: none;
      position: fixed;
      top: 45%;
      right: 50px;
      transform: translateY(-50%);
      width: 50px;
      height: 350px;
      background-color: transparent;
      border-radius: 10px;

      z-index: 2;
      /* Move container2 above the overlay */
    }

    /* Styling for tabs */
    .tab {
      cursor: pointer;
      padding: 10px 20px;
      margin: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      display: inline-block;
    }

    /* Styling for tab content */
    .tab-content {
      display: none;
    }

    /* Styling for the tab content boxes */
    .box {
      width: 80px;
      height: 80px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin: 5px;
      display: inline-block;
    }

    /* Styling for the container */
    .skins-container {
      width: 680px;
      /* Set a fixed width for the container, or you can use a percentage value */
      height: 310px;
      /* Set a fixed height for the container, or you can use a percentage value */
      border: 1px solid #ccc;
      padding: 5px;
      overflow: auto;
      background-color: red;
      border-radius: 5px;
      /* Enable the scrollbar when content overflows */
    }

    /* Styling for the custom content divs */
    .skins-container {
      padding: 8px;
      margin-bottom: 10px;
      background-color: #f0f0f0;
    }

    /* Customize the scrollbar */
    .skins-container::-webkit-scrollbar {
      width: 8px;
      /* Set the width of the scrollbar */
    }

    .skins-container::-webkit-scrollbar-thumb {
      background-color: #888;
      /* Set the color of the scrollbar thumb */
      border-radius: 4px;
      /* Round the corners of the scrollbar thumb */
    }

    .skins-container::-webkit-scrollbar-thumb:hover {
      background-color: #555;
      /* Change the color of the scrollbar thumb on hover */
    }



    .card-list {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      container-type: inline-size;
      resize: none;
      overflow: auto;
    }

    .card-list__item {
      width: 100%;
    }

    @container (min-width: 768px) {
      .card-list__item {
        width: calc((100% - 16px) / 2);
      }
    }

    @container (min-width: 1368px) {
      .card-list__item {
        width: calc((110% - 16px) / 2);
      }
    }

    .card {
      border: 2px solid gray;
      border-radius: 16px;
      padding: 1.5rem 1rem;
      display: flex;
      flex-direction: column;
    }

    .card__title {
      font-size: 25px;
      text-align: center;
    }

    .card__content {
      margin-top: 1rem;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      flex-grow: 1;
      font-size: 20px;
    }

    .card__image-wrapper {
      width: 17%;
      flex-shrink: 0;
      background-color: #fff;
      box-shadow: 3px -2px 3px 0px rgba(206, 206, 206, 1);
      border: 1px solid gray;
      border-radius: 10%;
      transition: all 0.5s;
      /* Apply transition to the initial state */
    }

    .card__image-wrapper:hover {
      transition: all 0.5s;
      transform: scale(1.2);
      /* You can adjust the transition: all 0.5s;value to control the zoom level */
    }

    .card__image-wrapper:hover svg {
      transform: scale(1.2);
      transition: all 0.5s;
    }

    .card__image {
      overflow: hidden;
      border-radius: 16px;
    }

    .card__text {
      font-family: serif;
    }

    .card__button-wrapper {
      margin-top: 1rem;
      text-align: center;
    }

    .card__button {
      appearance: none;
      border: none;
      background-color: #4B7CB6;
      color: white;
      padding: 1rem;
      min-width: 50%;
      border-radius: 100px;
      cursor: pointer;
      transition: all 0.3s ease;
      box-shadow: 0 4px 0 darkgray;
    }

    .card__button:hover {
      box-shadow: 0 2px 0 #5B6F99;
      transform: translateY(2px);
      background-color: green;
    }


    .section {
      margin: 32px;
    }

    * {
      margin: 0;
      box-sizing: border-box;
    }

    img {
      width: 100%;
      height: auto;
      vertical-align: bottom;
    }

    /* Style for the Preview-box container */
    #preview-box {
      position: fixed;
      top: 30%;
      right: 20%;
      width: 200px;
      height: 200px;
      border: 3px solid #ccc;
      border-radius: 10px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.3s ease;
      box-shadow: 0 4px 0 darkgray;
    }

    #preview-box:hover {
      box-shadow: 0 2px 0 #5B6F99;
      transform: translateY(2px);
      background-color: #ededed;
    }

    /* Style for the "In use" text */
    #in-use-text {
      font-size: 20px;
    }

    /* Style for the Preview title */
    #preview-title {
      margin-top: auto;
      font-size: 24px;
      color: #ffffff;
      -webkit-text-stroke: 2px #000000;
    }

    @keyframes popup {
      0% {
        transform: scale(0);
      }

      100% {
        transform: scale(1);
      }
    }

    /* Apply the animation to the selected SVG container */
    #selected-svg-container {
      animation: popup 0.5s ease;
      /* Add these properties to create a red box */
      width: 150px;
      height: 150px;
      background-color: #2d7c4a;
      border-radius: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-weight: bold;
    }

    .tick-up-skin {
      width: 30px;
      height: 35px;
      border: 2px solid darkgray;
      border-radius: 15%;
      background: url("https://www.clker.com/cliparts/d/b/3/7/13099636921470906221correct.svg.hi.png") no-repeat center center;
      background-size: cover;
      background-color: lightslategrey;
    }

    .tick-up-skin-rarity {
      width: 105px;
      height: 30px;
      border: 2px solid darkgray;
      border-radius: 15%;
      color: #009933;
      font-size: 18px;
      font-family: "Courier New", monospace;
      font-weight: bold;
      font-style: italic;
      text-transform: uppercase;
      background-color: #d0d0e1;
    }

    .tick-up-skin-rarity2 {
      width: 105px;
      height: 45px;
      border: 2px solid darkgray;
      border-radius: 15%;
      color: darkgreen;
      font-size: 18px;
      font-family: "Courier New", monospace;
      font-weight: bold;
      font-style: italic;
      text-transform: uppercase;
      background-color: #d0d0e1;
    }

    .tick-up-skin-rarity3 {
      width: 105px;
      height: 45px;
      border: 2px solid darkgray;
      border-radius: 15%;
      color: darkgreen;
      font-size: 18px;
      font-family: "Courier New", monospace;
      font-weight: bold;
      font-style: italic;
      text-transform: uppercase;
      background-color: #d0d0e1;

    }

    .tick-up-skin-rarity4 {
      width: 105px;
      height: 45px;
      border: 2px solid darkgray;
      border-radius: 15%;
      color: darkgreen;
      font-size: 18px;
      font-family: "Courier New", monospace;
      font-weight: bold;
      font-style: italic;
      text-transform: uppercase;
      background-color: #d0d0e1;
    }

    .tick-up-skin-rarity5 {
      width: 105px;
      height: 45px;
      border: 2px solid darkgray;
      border-radius: 15%;
      color: darkviolet;
      font-size: 18px;
      font-family: "Courier New", monospace;
      font-weight: bold;
      font-style: italic;
      text-transform: uppercase;
      background-color: #d0d0e1;
    }